
<h2>Pravila</h2>
<html>
<body>
<b>Šindo neda da se napisu normalna pravila jer je govnjar<br>
<br><br><br></b>
<table border="1" cellspacing="0" cellpadding="0">
<tr>
<td>
<img src="1-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="2-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="3-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="4-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="5-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="6-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="7-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="8-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="9-EbU87vKW9a.jpg" alt="" border="0">
</td>
</tr>
<tr>
<td>
<img src="10-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="11-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="12-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="13-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="14-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="15-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="16-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="17-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="18-EbU87vKW9a.jpg" alt="" border="0">
</td>
</tr>
<tr>
<td>
<img src="19-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="20-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="21-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="22-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="23-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="24-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="25-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="26-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="27-EbU87vKW9a.jpg" alt="" border="0">
</td>
</tr>
<tr>
<td>
<img src="28-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="29-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="30-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="31-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="32-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="33-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="34-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="35-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="36-EbU87vKW9a.jpg" alt="" border="0">
</td>
</tr>
<tr>
<td>
<img src="37-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="38-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="39-EbU87vKW9a.jpg" alt="" border="0">
</td>
<td>
<img src="40-EbU87vKW9a.jpg" alt="" border="0">
</td>
</tr>
</table>
</body></html>
