
<div>
    <canvas id="myCanvas" width="1000" height="700" style="border:1px solid #000000;"></canvas>
</div>

@section scripts{ 
<!--tu dodajes javascript mos viti u viev partija kako to izgleda-->
    <!--
    
                    //dobije 10 karata i iscrta ih na platno
            chat.client.zapocniIgru = function(ruka){
                var imgs = [];
                var imagesOK=0;
                for(i=0;i<10;i++){
                    var karta = ruka[i];
                    var img = new Image();
                    imgs.push(img);
                    img.src = karta.pathSlike;
                    img.onload = function(){
                        imagesOK++;
                        if (imagesOK>= 10  ){
                            for(j=0;j<10;j++)
                                ctx.drawImage(imgs[j],parseInt(ruka[j].xPoz),590,parseInt(ruka[j].sirina),parseInt(ruka[j].visina));
                        };
                    };
                };
            };ovako nesto cete i vi imati
        
        funkcija da dobijes poziciju di je kliknuto na platnu
         $("#myCanvas").click(function(evt) {
                    var  mouseX = parseInt(evt.clientX - c.offsetLeft);
                    var mouseY = parseInt(evt.clientY-c.offsetTop + window.pageYOffset);
                    if(mouseY > 590 && mouseY<690){//sirina karte j 100 i pocinje na 590
                        chat.server.cardClick(mouseX,mouseY , imeSobe);
                    }
                });
        
        
        -->

}