h1 {
    color: #742ECC;
    text-align: center;
}

body{
    background-image : url(http://www.tucepihotelalga.com/EasyEdit/UserFiles/PageImages/relax-croatia-tucepi-bluesun-hotel-alga/relax-croatia-tucepi-bluesun-hotel-alga-635665086529616797_570_320.jpeg);
    background-size:100%;
}

canvas{
    background-image: url(http://i.stack.imgur.com/jGlzr.png);
}

label[id=igrac1]{
    color: red; 
    transform: translateY(-350px) rotate(-90deg);
    transform-origin : left;
    vertical-align : middle;
}

 label[id=igrac3]{
    color: red; 
    transform:translateY(-350px) rotate(90deg);
    transform-origin : right;
    vertical-align:middle;
}

h3{
    color: blue;
    position:absolute;
    left : 45%;      
}